<mat-toolbar class="header-toolbar">
  <span class="logo" routerLink="/">Aloongs</span>
  <span class="spacer"></span>
  <nav class="nav-links">
    <a mat-button routerLink="/sobre-nos">Sobre Nós</a>
    <a mat-button routerLink="/doacao-roupas">Doação de Roupas</a>
    <a mat-button routerLink="/doacao-alimentos">Doação de Alimentos</a>
    <a mat-button routerLink="/baixe-aqui">Baixe o App</a>
    <button mat-icon-button routerLink="/login">
      <mat-icon>person</mat-icon>
    </button>
  </nav>
</mat-toolbar>
