<div class="doacao-container">
  <!-- Seção principal -->
<section class="promo-section">
  <div class="promo-image">
  </div>
  <div class="promo-text">
  <h1>DOE ROUPAS</h1>
  <p>Uma peça esquecida no seu armário pode ser o abrigo que alguém precisa.</p>
  </div>
  </section>

  <!-- Carrossel -->
<section class="carousel-section">
<h2>QUAIS ROUPAS EU POSSO DOAR?</h2>
  <div class="carousel">
    <button class="arrow">◀</button>
    <div class="carousel-item">
      <p>Camisas</p>
    </div>
    <button class="arrow">▶</button>
  </div>
  </section>

  <!-- Cuidados -->
<section class="cuidados">
  <h3>Cuidados importantes na hora de doar:</h3>
  <ul>
    <li><span class="check-icon">✔</span> Roupas limpas e higienizadas</li>
    <li><span class="check-icon">✔</span> Apenas peças sem rasgos</li>
    <li><span class="check-icon">✔</span> Devem estar secas e em boas condições</li>
  </ul>
  </section>
</div>
