.container-doacao {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

/* Imagem e o texto sobre */
.topo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.imagem img {
  width: 250px;
  height: 250px;
  background-color: #ccc;
  object-fit: cover;
  border-radius: 8px;
}

.texto {
  max-width: 300px;
}

.texto h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.texto p {
  font-size: 16px;
  color: #333;
}

/* Carrossel lista de roupas que podem ser doadas*/
.carrossel {
  background-color: #00694e;
  color: black;
  text-align: center;
  padding: 40px 20px;
}

.carrossel h3 {
  font-size: 20px;
  margin-bottom: 25px;
}

.carrossel-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.carrossel-conteudo img {
  width: 110px;
  height: 110px;
}

.seta {
  font-size: 36px;
  cursor: pointer;
  color: black;
}

.legenda {
  margin-top: 10px;
  font-style: italic;
  font-size: 16px;
}

/* Cuidados na hora de doar */
.cuidados {
  padding: 70px 30px 100px;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.cuidados h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.cuidados ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.8;
}
