<!-- HERO -->
<section class="hero-section">
  <div class="hero-content">
    <h1>DOE ALIMENTOS</h1>
    <p>
      Comida é dignidade. Doe e ajude famílias a terem <br>
      refeições com amor e respeito.
    </p>
    <button class="doar-btn">Doe agora</button>
  </div>
</section>

<!-- CARROSSEL -->
<section class="carousel-section">
  <h2>O que você pode doar?</h2>
  <div class="carousel">
    <button class="arrow" (click)="prevItem()">◀</button>
    <div class="card">
  <img [src]="items[currentIndex].img" [alt]="items[currentIndex].nome">
  <p>{{ items[currentIndex].nome }}</p>
    </div>
    <button class="arrow" (click)="nextItem()">▶</button>
  </div>
</section>

<!-- LISTA DE CUIDADOS -->
<section class="cuidados">
  <h3>Cuidados importantes antes de doar:</h3>
  <ul>
    <li>Alimentos bem embalados</li>
    <li>Dentro do prazo de validade</li>
    <li>Sem embalagens rasgadas ou abertas</li>
    <li>Em boa aparência e condições adequadas</li>
  </ul>
</section>
